$abyss-blue-color: #14202D;
$light-blue-color: skyblue;
$blue-color: #0063B2;
$purple-color: #6279FF;
$white-color: #FFFFFF;
$beige-color: #E5E5E5;
$pale-gray-color: #EEEEEE;
$light-grey-color: #ABAAAA;
$dark-grey-color: #504A4A;
$dark-color: #393939;
$black-color: #000000;
$red-color: #D2042D;

$font-montserrat: 'Montserrat', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-pt-serif: 'PT Serif',serif;
