@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  padding-top: 45px;
  max-width: 85%;
  margin: 0 auto;

  &__heading {
    text-align: center;

    &__title {
      @include text($black-color, 42px, 700, $font-pt-serif);
      margin-bottom: 35px;
    }

    &__description {
      @include text($black-color, 18px, 400, $font-montserrat);
      max-width: 65%;
      margin: 0 auto;
    }
  }
}

.profile {
  margin-top: 150px;

  &__container {
    display: flex;
    margin-bottom: 120px;
  }

  &__image {
    flex: 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__block {
      display: flex;
      row-gap: 60px;
      flex-direction: column;
      align-items: center;
      flex: 1;
      position: relative;
      left: 25px;
      z-index: 1;

      &--right {
        left: -25px;
      }
    }

    &__title {
      @include text($dark-grey-color, 22px, 500, $font-montserrat);
    }
  }

  &__description {
    @include text($white-color, 18px, 500, $font-montserrat);
    line-height: 31px;

    &__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      row-gap: 16px;
      background-color: $purple-color;
      padding: 50px 30px 50px 90px;
      margin-top: 100px;
      margin-bottom: 35px;
      position: relative;
      right: 25px;

      &--left {
        left: 25px;
        padding: 50px 90px 50px 30px;
      }
    }

    &__heading {
      @include text($white-color, 22px, 700, $font-pt-serif);

      &--left {
        text-align: end;
      }
    }

    &--left {
      text-align: end;
    }
  }
}